[submodule "spliteven"]
	path = spliteven
	url = git@github.com:Leo-Haker/spliteven.git
[submodule "Calculator"]
	path = Calculator
	url = git@github.com:Leo-Haker/Calculator.git
[submodule "Cosmere"]
	path = Cosmere
	url = git@github.com:Leo-Haker/Cosmere.git
[submodule "news-and-stock"]
	path = news-and-stock
	url = git@github.com:Leo-Haker/news-and-stock.git
